spring:
  datasource:
    url: jdbc:h2:mem:camnect;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: test@gmail.com # 실제 이메일 주소
    password: test_password # 앱 비밀번호 (2단계 인증 후 발급)
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

server:
    port: 8080
jwt:
    secret: "CamNecTsecretKey1234CamNecTsecretKey1234CamNecTsecretKey1234CamNecTsecretKey1234"
    access-token-expiration-ms: 360000        # 6min
    refresh-token-expiration-ms: 1209600000   # 14day